Checks: >
    bugprone-*,
    clang-analyzer-*,
    concurrency-*,
    cppcoreguidelines-*,
    google-*,
    modernize-*,
    performance-*,
    readability-*,
    abseil-*,
    misc-*,
    -misc-header-include-cycle
